body {
  background: #202629;
}

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




/* Weather */
.weather.card {
  margin-top:4vh;
}

.weather.card .card-content {
  background: #0b0829;
}

.weather.card .card-action {
  background: #120944;
}

.weather .temperature {
  margin-left:4vh;
  font-size:120px;
  font-family: 'Roboto', sans-serif;
  text-shadow: -1px 0 #61dafb, 0 1px #61dafb, 1px 0 #61dafb, 0 -1px #61dafb;
}

.clickedDay{
  font-weight: bold;
}

.top-bar {
  display: flex;
  align-items: center; 
}


.cityInput{
  flex:1;
  width: 600px !important;
  
  background-color: #f2f2f2 !important;
  border: 1px solid #ccc !important;
  
  font-size: 16px !important;
  border-radius: 20px !important;
  font-size: large;
}

.search_icon{
display: flex;
justify-content: center;
align-items: center;
width: 90px;
height: 50px;
background:rgb(125, 145, 234) ;
cursor: pointer;
border-radius: 20px;

}

canvas {
  margin-left: 500px;
  height: 400px !important;
  width: 900px !important;
  background-color: #383d3e;
}
